body{

background:#0d0d0d;
color:white;
font-family:Arial;
margin:0;
padding:40px;

}

.container{

max-width:800px;
margin:auto;

}

.subtitle{

color:#888;
margin-bottom:30px;

}

.player{

background:#161616;
padding:25px;
border-radius:12px;
margin-bottom:30px;

}

.tracklist{

background:#121212;
border-radius:10px;
overflow:hidden;

}

.track{

padding:15px;
border-bottom:1px solid #2a2a2a;
cursor:pointer;
display:flex;
flex-direction:column;

}

.track span{

font-size:13px;
color:#aaa;

}

.track a{

margin-top:5px;
font-size:12px;
color:#1db954;
text-decoration:none;

}

.track:hover{

background:#1e1e1e;

}
