body{
background:#0b0b0b;
color:white;
font-family:Arial;
margin:0;
padding:30px;
}

.container{
max-width:800px;
margin:auto;
}

h1{
margin-bottom:30px;
}

.player{
background:#151515;
padding:20px;
border-radius:12px;
margin-bottom:30px;
}

audio{
width:100%;
margin:15px 0;
}

.time{
font-size:14px;
color:#aaa;
}

.tracklist{
background:#111;
border-radius:10px;
overflow:hidden;
}

.track{
padding:15px;
border-bottom:1px solid #222;
cursor:pointer;
display:flex;
flex-direction:column;
transition:0.2s;
}

.track span{
font-size:13px;
color:#888;
}

.track:hover{
background:#1a1a1a;
}

.active{
background:#1db95433;
}
