body{
background:#0b0b0b;
color:white;
font-family:Arial;
margin:0;
padding:30px;
}

.container{
max-width:800px;
margin:auto;
}

.player{
background:#151515;
padding:20px;
border-radius:12px;
margin-bottom:30px;
}

audio{
width:100%;
margin-top:10px;
}

.track{
padding:15px;
border-bottom:1px solid #222;
cursor:pointer;
}

.track:hover{
background:#1a1a1a;
}

.track span{
display:block;
font-size:13px;
color:#888;
}